{% extends 'base.html' %}
{% block title %}Preference Page{% endblock %}


{% block content %}
<div align="center">
    <h3 class="text-white font-weight-bolder display-2">Preferences</h3>
</div>
<form method="POST">
<div class="row">
   <div class="col">
    <div class="form-group text-white">
       <label for='fav_mov1'><h3>First Preferred Movie</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_mov1'
       name='fav_mov1'
       placeholder='Enter movie name'
       />
   </div>
   <div class="form-group text-white">
       <label for='fav_mov2'><h3>Second Preferred Movie</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_mov2'
       name='fav_mov2'
       placeholder='Enter movie name'
       />
   </div>
   <div class="form-group text-white">
       <label for='fav_mov3'><h3>Third Preferred Movie</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_mov3'
       name='fav_mov3'
       placeholder='Enter movie name'
       />
   </div>
   </div>
   <div class="col">
    <div class="form-group text-white">
       <label for='fav_genre1'><h3>First Preferred Genre</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_genre1'
       name='fav_genre1'
       placeholder='Enter preferred genre'
       />
   </div>
   <div class="form-group text-white">
       <label for='fav_genre2'><h3>Second Preferred Genre</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_genre2'
       name='fav_genre2'
       placeholder='Enter preferred genre'
       />
   </div>
   <div class="form-group text-white">
       <label for='fav_genre3'><h3>Third Preferred Genre</h3></label>
       <input
       type='text'
       class='form-control'
       id='fav_genre3'
       name='fav_genre3'
       placeholder='Enter preferred genre'
       />
   </div>
   <br />
    <button type="submit" class="btn btn-info">Submit</button>
   </div>
   </div>
</form>
{% endblock %}
