{% extends 'base.html' %}
{% block title %}Preference Page{% endblock %}

{% block content %}
<h1>Preference Page</h1>
<form method="POST">
     <div class="form-group">
        <label for='fav_mov1'>First Preferred Movie</label>
        <input
        type='text'
        class='form-control'
        id='fav_mov1'
        name='fav_mov1'
        placeholder='Enter movie name'
        />
    </div>
    <div class="form-group">
        <label for='fav_mov2'>Second Preferred Movie</label>
        <input
        type='text'
        class='form-control'
        id='fav_mov2'
        name='fav_mov2'
        placeholder='Enter movie name'
        />
    </div>
    <div class="form-group">
        <label for='fav_mov3'>Third Preferred Movie</label>
        <input
        type='text'
        class='form-control'
        id='fav_mov3'
        name='fav_mov3'
        placeholder='Enter movie name'
        />
    </div>
     <div class="form-group">
        <label for='fav_genre1'>First Preferred Genre</label>
        <input
        type='text'
        class='form-control'
        id='fav_genre1'
        name='fav_genre1'
        placeholder='Enter preferred genre'
        />
    </div>
    <div class="form-group">
        <label for='fav_genre2'>Second Preferred Genre</label>
        <input
        type='text'
        class='form-control'
        id='fav_genre2'
        name='fav_genre2'
        placeholder='Enter preferred genre'
        />
    </div>
    <div class="form-group">
        <label for='fav_genre3'>Third Preferred Genre</label>
        <input
        type='text'
        class='form-control'
        id='fav_genre3'
        name='fav_genre3'
        placeholder='Enter preferred genre'
        />
    </div>
    <br />
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
