/* Styling for rate-movies.html */
.submit-container {
  clear: both;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}

.movie_column {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.movie-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid #101010;
  padding: 10px;
  width: 100%;
}

.movie-tile2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  border: 1px solid #101010;
  padding: 10px;
  width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.rating {
  display: flex;
  flex-direction: column;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #6f00ff;
  transition: color 0.3s;
}

.rating input:checked ~ label:before,
.rating label:hover ~ label:before {
  content: '\2605'; /* Full star */
}

.rating input.half:checked ~ label:before,
.rating input.half:checked ~ label:hover ~ label:before {
  content: '\2605\00bd'; /* Half star */
}

/* static.css */
.back_image {
    background-image: url('/static/images/movie-background-collage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Add any additional styling for your application */
